
@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<h1>Şehirler</h1>
<table class="table table-bordered">
    <tr>
        <td><h2>ID</h2></td>
        <td><h2>ŞEHİLER</h2></td>
        <td><h2>NÜFUS</h2></td>
    </tr>
    <tr>
        <td><h3>@ViewBag.s</h3></td>
        <td><h3>@ViewBag.s1</h3></td>
        <td><h3>@ViewBag.s2</h3></td>
    </tr>
    <tr>
        <td><h3>@ViewBag.s3</h3></td>
        <td><h3>@ViewBag.s4</h3></td>
        <td><h3>@ViewBag.s5</h3></td>
    </tr>
</table>
