
@{
    Layout = null;
}

<a href="/Default/Index/">Index sayfası</a>
<h1>Ürünler sayfası</h1>
<h3>@ViewBag.m3</h3>
<h3>Faktöriyel = @ViewBag.s</h3>
<h3>Toplam = @ViewBag.t</h3>
<h3>@ViewBag.v</h3>
<h3>@ViewBag.d</h3>